<div class="container-forgot">
    <div class="logo-container">
        <img src="joca.svg" alt="Logo Joca" class="logo">
        <h2>Joca</h2>
    </div>
    <div class="form-forgot">
        <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
            <h1>Confirme seu e-mail</h1>
            <p>Você irá receber uma confirmação no seu e-mail que digitar abaixo:</p>
            <div>
                <label for="email">E-mail:</label>
                <input formControlName="email" placeholder="E-mail" type="email">
            </div>
            <div class="button-forgot">
                <button type="submit" [disabled]="!forgotForm.valid">Enviar confirmação</button>
            </div>
            
        </form>

    </div>


</div>
