.container-forgot {
    display: flex; 
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    padding: 20px;
    font-family: "Inter";

    .logo-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 40px;
    
        .logo{
            width: 72px;
            height: 45px;
            margin-right: 5px;
        }
        h2{
            width: 95px;
            font-size: 40px; 
            color: #1b2156;
            font-weight: 700;
    
        }
    }
    .form-forgot{
        h1{
           font-size: 24px;
           font-weight: 700;
           text-align: center;
           margin: 3px;
           color: #01184e;
        }
        p{
           font-size: 16px;
           font-weight: 600;
           text-align: center;
           color: #01184e; 
        }
        div{
            display: flex;
            flex-direction: column;
            margin-top: 40px;
        }
        label{
            font-size: 15px;
            font-weight: 400;
        }
        input {
            padding: 5px;
            margin-top: 5px;
            border: 2px solid #000;
            border-radius: 2px;
            margin: 0 0 10px 0;
            background-color: #e2dada ;
        }
        .button-forgot{
            display: flex;
            align-items: center;
        }
        button{
            padding: 20px 40px;
            border-radius: 15px;
            background-color: #01184e;
            font-size: 18px;
            font-weight: 700;
            color: #fff;
            cursor: pointer;  
        }
    }

}

