<div class="container-reset">
    <div class="logo-container">
        <img src="joca.svg" alt="Logo Joca" class="logo">
        <h2>Joca</h2>
    </div>
    <div class="form-reset">
        <form>
            <h1>Crie uma nova senha</h1>
            <p>A sua nova senha deve conter:</p>
            <ul>
                <li>No minimo 10 caracteres</li>
                <li>Letra maiúscula</li>
                <li>Letra minuscula</li>
                <li>Um carcter especial (?#$)</li>
            </ul>
            <div>
                <label for="password">Nova senha:</label>
                <input type="password" placeholder="Nova senha" />
                <label for="password" class="label-reset">Confirme sua nova senha:</label>
                <input type="password" placeholder="Confirme sua nova senha"/>
            </div>
            <div class="button-reset">
                <button>Criar nova senha</button>
            </div>
        </form>

    </div>


</div>
