<div class="container-reset">
    <div class="logo-container">
        <img src="joca.svg" alt="Logo Joca" class="logo">
        <h2>Joca</h2>
    </div>
    <div class="form-reset" [formGroup]="resetForm" (ngSubmit)="onSubmit()">
        <form>
            <h1>Crie uma nova senha</h1>
            <p>A sua nova senha deve conter:</p>
            <ul>
                <li>No minimo 10 caracteres</li>
                <li>Letra maiúscula</li>
                <li>Letra minuscula</li>
                <li>Um carcter especial (?#$)</li>
            </ul>
            <div>
                <label for="novaSenha">Nova senha:</label>
                <input id="novaSenha"  type="password" formControlName="novaSenha"/>
                
                <label for="confirmaNovaSenha">Confirmar Nova Senha</label>
                <input id="confirmaNovaSenha" type="password" formControlName="confirmaNovaSenha" />
                
            </div>
            <div class="button-reset">
                <button type="submit" [disabled]="resetForm.invalid">Criar nova senha</button>
            </div>
        </form>

    </div>


</div>
